.cta {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

    input:not([type="checkbox"]):not([type="radio"]), select, textarea {
		padding: 0.45em 0.65em;
    }

	input[type="submit"] {
		padding: 0.45em 0.65em;
		cursor: pointer;
	}

	@media (max-width: 640px) {
	    input:not([type="checkbox"]):not([type="radio"]), select, textarea {
	    	display: block;
	    	width: 100%;
	    }
	}
}
