.cta-type-wizard {
	.field {
		margin-bottom: 0.65em;

		label {
			display: block;
			text-transform: uppercase;
			font-size: 80%;
			color: rgba(0, 0, 0, 0.5);
		}
	}

	.close {
		float: right;
		font-size: 20px;
		color: rgba(255, 255, 255, 0.5);
	}

	.form-meta {
		margin-bottom: 0.45em;
	}

    &.cta-style-bar {
		position: fixed;
		right: 0;
		left: 0;

		.inner-wizard {
			padding: 0.65em;
			background: #444;
			color: rgba(255, 255, 255, 0.9);
		}

		form, .form-wrapper {
			margin: 0 auto;
			text-align: center;
		}

		.field, form, .form-meta {
			display: inline-block;
			margin: 0;
		}

		.field, .form-meta {
			margin-right: 1em;

			&:last-child {
				margin-right: 0;
			}
		}

		@media (max-width: 640px) {
			form, .field, .form-meta {
				display: block;
				margin: 0;

				h1, h2, h3, h4, h5, h6, p, li {
					padding: 0.65em;
				}
			}

			.field {
				margin-bottom: 0.65em;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		label {
			display: none;
		}

		&.cta-position-top, &.cta-position-default {
			top: 0;
		}

		&.cta-position-bottom {
			bottom: 0;
		}

		button {
			background: rgba(255, 255, 255, 0.4);

			&:hover {
				background: rgba(255, 255, 255, 0.5) !important;
			}
		}

	    input:not([type="checkbox"]):not([type="radio"]), select, textarea {
	    	background: rgba(255, 255, 255, 0.2);
			border: 0;
	    	display: inline-block;
	    	width: auto;

	    	@media (max-width: 640px) {
	    		width: 100%;
	    		display: block;
	    	}

	    	&:focus {
	    		background: rgba(255, 255, 255, 0.3);
	    	}

	    	&::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.6); }
	    	&::-moz-placeholder { color: rgba(255, 255, 255, 0.6); }
	    	&:-ms-input-placeholder { color: rgba(255, 255, 255, 0.6); }
	    	&:-moz-placeholder { color: rgba(255, 255, 255, 0.6); }
	    }
	}

	&.cta-style-box {
		position: fixed;
		padding: 1em;
		background: #eee;
		width: 275px;
		color: #333;
		max-height: 70%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		&.cta-position-bottom-right, &.cta-position-bottom-left, &.cta-position-default {
			bottom: 0;
		}

		&.cta-position-bottom-right, &.cta-position-default {
			right: 0;
		}

		&.cta-position-bottom-left {
			left: 0;
		}

	    input:not([type="checkbox"]):not([type="radio"]), select, textarea {
	    	&:focus {
	    		background: #fff;
	    	}
	    }
	}
}
