@mixin horizontal() {
    width: 100%;
    display: table;

    .networks {
        display: table-row;
        width: 100%;

        li {
            display: table-cell;

            a {
                text-align: center;
            }
        }
    }
}

.cta-type-social {
    &.cta-style-fixed, &.cta-style-default {
        position: fixed;
        bottom: 35%;

        &.cta-position-left-middle, &.cta-position-left-bottom, &.cta-position-default {
            left: 0;
        }

        &.cta-position-right-middle, &.cta-position-right-bottom {
            right: 0;
        }

        &.cta-position-right-bottom, &.cta-position-left-bottom, &.cta-position-bottom {
            bottom: 0;
        }

        &.cta-position-top {
            bottom: auto;
            top: 0;
        }

        &.cta-position-bottom, &.cta-position-top {
            left: 0;
            right: 0;
            @include horizontal();
        }

        a {
            text-align: left;
        }
    }

    &.cta-style-inline {
        @include horizontal();
    }

    .networks {
        a {
            color: #fff;
            padding: 0.45em 0.65em;
            display: block;
            transition: all .2s ease-in-out;
            text-align: center;

            &:hover {
                transform: scale(1.1);
            }

            i {
                width: 1em;
            }

            label {
                margin-left: 0.65em;
                font-size: 80%;
            }
        }
    }

    &.cta-has-labels {
        .networks {
            a {
                text-align: left;
            }
        }
    }
}
